div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        | Generator 
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href="#") Home
        li
          a(href="#about") About
        li
          a(href="#contact") Contact
        li.ui
          a.ui#save(href="#") Save
        li.ui
          a.ui.add_jumbotron(href="#") Jumbo
        li.ui
          a.ui.add_bgblock(href="#") BGBlock
      ul.nav.nav-bar.navbar-right
        li.editor
          a.editor i.glyphicon.glyphicon-pencil.editor

