extends layout

block content
  div.container
    div.jumbotron
      h1(editable-text="widget.title") {{ widget.title }}
      p(editable-textarea="widget.content") {{ widget.content }}
      a.btn.btn-primary.btn-lg(editable-text="widget.button",href="widget.link") {{widget.button}}
     
