extends layout

block content
  div.container
    div.jumbotron
      h1 Lights, Camera, Action!
      p It's time to make an amazing website that looks professional, sleek, and works well for what you need. Add in content blocks, forms, maps, images, thumbnails, and more. If you want, you can watch a video to show you how by clicking this button! 
      a.btn.btn-primary.btn-lg Show me how
     
    div.row
      div.col-md-8
        h2 Make your own webpage today
        p Hex Labs Generator
